/***********************************************/
/**********************DATABASE VIEW*************************/
/***********************************************/

/**********************TEXT FIELDS*************************/
.input-field{
    -fx-font-style: italic;
    -fx-text-fill: rgba(65,68,80,0.5);
    -fx-font-size: 16;
}

/**********************LABELS*************************/
.label{
    -fx-font-size: 16;
}

.error-message{
    -fx-font-style: italic;
    -fx-text-fill: #ff0000;
    -fx-font-size: 16;
    -fx-alignment: center;
}
/*************************BUTTONS*************************/